<!DOCTYPE html>	

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
	<table id="channels-datatables" width="100%" class="table table-striped table-bordered table-hover table-uca">
	     <thead>
		     <tr> 
		     	<th class="hidden">id</th>
		     	<th width="10%">icon</th>
		     	<th width="25%">Caption</th>
		     	<th width="15%">Group</th>
		     	<th width="13%">Bitrate</th>
				<th width="12%">Status</th>
		 	 </tr>
	     </thead>
	     <tbody>
			<tr th:each="channel : ${channels?.tv_channel}" class="clickable" data-target="_blank" th:attr="data-href=${channel.streaming_url}">
				<td class="hidden" th:text="${channel.id}"></td>
				<td><img th:src="${channel.icon_url}" alt="" height="60px" width="60px"></td>
				<td th:text="${channel.caption}"></td>
				<td th:text="${#strings.replace(channel.tv_categories[0].tv_category[0].caption, '*-', '')}"></td>
				<td>unknown</td>
				<td>
					<i class="fa fa-check-circle fa-1x"></i>
				</td>
			</tr>
	    </tbody>
	</table>
</th:block>
</html>