<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base-layout}">

<div class="container" layout:fragment="content">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="login-panel panel">
				<div class="panel-heading">
				    <h3 class="form-heading login-heading" th:text="#{common.signup.account.create}"></h3>
				</div>
				<div class="panel-body">
					<form role="form" method="POST" th:object="${userForm}" class="form-login">
						<fieldset>
					        <div th:class="|form-group ${#fields.hasErrors('username') ? 'has-error' : ''}|">
					            <input type="text" th:field="*{username}" class="form-control" th:placeholder="#{common.login.username}" autofocus="true"></input>
					            <errors th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></errors>
					        </div>
					        <div th:class="|form-group ${#fields.hasErrors('password') ? 'has-error' : ''}|">
					            <input type="password" th:field="*{password}" class="form-control" th:placeholder="#{common.login.password}"></input>
					            <errors th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></errors>
					        </div>
					        <div th:class="|form-group ${#fields.hasErrors('passwordConfirm') ? 'has-error' : ''}|">
					            <input type="password" th:field="*{passwordConfirm}" class="form-control" th:placeholder="#{common.signup.password.confirm}"></input>
					            <errors th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></errors>
					        </div>
			    			<div class="input-group">
			    				<div id="accountType" class="btn-group">
				    				<a class="btn btn-primary btn-sm" data-toggle="accountTypeValue" data-value="WATCHER_ROLE" th:text="Watcher"></a>
			    					<a class="btn btn-primary btn-sm" data-toggle="accountTypeValue" data-value="USER_ROLE" th:text="User"></a>
			    				</div>
			    				<input id="accountTypeValue" type="hidden" name="role">
			    			</div>
					     	<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{common.submit}"></button>
					    </fieldset>
					    <br>
					</form>
				 </div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/signup.js}" ></script> 
</div>

</html>
